<!-- main.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Página Principal</h1>
    <div>
        <a href="/citas" class="btn">Citas</a>
        <a href="/servicios" class="btn">Servicios</a>
        <a href="/clientes" class="btn">Clientes</a>
        <a href="/trabajadores" class="btn">Trabajadores</a>
    </div>
</body>
</html>
