<!-- servicios.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    <h1>Página de Servicios</h1>
    <!-- Contenido de la página de Servicios -->
</body>
</html>
